.container{
    display: flex;
    margin-top: 10px;
  
    box-sizing: border-box;
}

.block-container {
    display: block;
    margin-top: 0px;
  }
.default-container {
    display: flex; /* Hoặc giá trị mặc định */
    margin-top: 10px;

  }
.link{
    text-decoration: none;
    color: inherit;
}