.control{
 display: flex;
width: 100%;
justify-content: center;
align-items: center;
}
.control .content{
    display: flex;
    justify-content: center;
align-items: center;
    width: 700px;
    height: 700px;
}